In [2]:
import pandas as pd
import scipy
from shapely.wkt import loads
import xarray as xr
import numpy as np
import folium.plugins as plugins
import geopandas as gpd

In [14]:
df_helena = pd.read_csv('helena_tehsils_correct.csv')
table = gpd.read_file('coordinates/adm3/geoBoundaries-PAK-ADM3.dbf')
df_adm3 = pd.DataFrame(table)
table2 = gpd.read_file('coordinates/adm2/geoBoundaries-PAK-ADM2.dbf')
df_adm2 = pd.DataFrame(table2)
df_regions = pd.read_csv('shapeNamePolygons.csv')

In [18]:
df_adm3

,shapeName,shapeISO,shapeID,shapeGroup,shapeType,geometry
0,BAGH,NaN,9618217B15374795339605,PAK,ADM3,"POLYGON ((73.91750 34.01999, 73.93393 34.01103..."
1,DHEERKOT,NaN,9618217B36543758176465,PAK,ADM3,"MULTIPOLYGON (((73.69445 34.06935, 73.69492 34..."
2,BARNALA,NaN,9618217B52678377884784,PAK,ADM3,"POLYGON ((74.29135 33.03087, 74.29782 33.02683..."
3,BHIMBER,NaN,9618217B77543092347595,PAK,ADM3,"POLYGON ((74.17424 33.01268, 74.17424 33.00205..."
4,SAMAHNI,NaN,9618217B53987596255132,PAK,ADM3,"POLYGON ((74.29135 33.03087, 74.29106 33.03059..."
...,...,...,...,...,...,...
549,KARACHI CANTONMENT,NaN,9618217B69772973278012,PAK,ADM3,"POLYGON ((67.04754 24.83355, 67.04711 24.83365..."
550,MANORA CANTONMENT,NaN,9618217B55413118042667,PAK,ADM3,"POLYGON ((66.90154 24.84494, 66.90184 24.84533..."
551,NEW KARACHI TOWN,NaN,9618217B18958240054573,PAK,ADM3,"POLYGON ((67.05356 24.96486, 67.05356 24.96519..."
552,KAMALIA,NaN,9618217B43963595698610,PAK,ADM3,"POLYGON ((72.74010 30.74411, 72.74261 30.73839..."
553,MIAN CHANNU,NaN,9618217B4340314046298,PAK,ADM3,"POLYGON ((72.12924 30.49228, 72.12927 30.49231..."

In [19]:
tehsils = df_adm3['shapeName'].apply(lambda x: x.lower())
helena = df_helena['Tehsil'].apply(lambda x: x.lower())
helena_correct = df_helena['Correct_Tehsil'].apply(lambda x: x.lower())
common = list(set(helena) & set(tehsils))
common_correct = list(set(helena_correct) & set(tehsils))

In [20]:
common_2 = list(set(helena).intersection(tehsils))

common_correct = list(set(helena_correct).intersection(tehsils))
print(len(common_2))
print(len(common_correct))

33
40

In [30]:
df_adm3['shapeName'] = df_adm3['shapeName'].apply(lambda x: x.lower())
common = list(set(helena_correct).intersection(df_adm3['shapeName']))
teh_interest = df_adm3[df_adm3['shapeName'].isin(common)]
len(teh_interest)
# filtered_df = df_main[df_main['A'].isin(df_filter['Filter_Column'])]

40

In [ ]:
df_interest = df_adm3']]

In [ ]:
uncommon = list(set(helena).difference(tehsils))
uncommon_correct = list(set(helena_correct).difference(tehsils))
# print(uncommon)
print(uncommon_correct)
# KHAIRPUR TAMEWALI

[]

In [ ]:
df_adm2 = df_adm2[['shapeName']]
df_adm2.to_csv('df_adm2_shapeNames.csv')
df_adm3 = df_adm3[['shapeName']]
df_adm3.to_csv('df_adm3_shapeName.csv')

See these:
Helena File:
- rahim yar khan,Rahim Yar Khan
- rahim yar khan,Khanpur (Rahim Yar Khan)
- dera ghazi khan,Dera Ghazi Khan
- bahawalpur,Ahmadupr East

Missing:
- multan,Shuabad
- rahim yar khan,Liaquatpur
- lodhran,Dunyapur
- lodhran,Kahror Pacca
- bahawalpur,Kairpur Tamewali

In [ ]:
# Rahim Yar Kahn - district have it
# dera ghazi khan
# bahawalpur 
# multan
# rahim yar khan
# iodrahn

# Misspelling: 
# Dunya Pur -> Dunyapur is misspelled
# KARORPACCA -> Kahror Pacca
# KHAIRPUR TAMEWALI -> kairpur tamewali
# LIAQAT PUR -> Liaquatpur
# Shujabad -> Shuabad
# Rahim Yar Khan
# Khan Pur -> space between -> Khanpur
# DERA GHAZI KHAN
# AHMADPUR EAST -> Ahmadupr East

In [ ]:
correct_spelled = ['dunya pur', 'karorpacca', 'KHAIRPUR TAMEWALI', 'LIAQAT PUR', 'Shujabad', 'Rahim Yar Khan', 'Khan Pur', 'DERA GHAZI KHAN', 'AHMADPUR EAST']
common_2.append(correct_spelled)
common_2 = sorted(common_2)
correct = pd.DataFrame(common_2)
# correct = correct_spelled.apply(lambda x: x.lower())
correct

TypeError: '<' not supported between instances of 'list' and 'str'

In [ ]:
# common.append

['yazman',
 'jalalpur pirwala',
 'taunsa',
 'multan saddar',
 'burewala',
 'alipur',
 'sadiqabad',
 'fort abbas',
 'vehari',
 'kot addu',
 'rahim yar khan',
 'hasilpur',
 'jatoi',
 'jampur',
 'chaubara',
 'bahawalpur',
 'lodhran',
 'layyah',
 'muzaffargarh',
 'multan city',
 'haroonabad',
 'rojhan',
 'bahawalnagar',
 'khanewal',
 'karor lal esan',
 'chishtian',
 'kabirwala',
 'rajanpur',
 'minchinabad',
 'jahanian',
 'mailsi',
 'dera ghazi khan',
 'mian channu']

In [ ]:
helena

0             kairpur tamewali
1                     hasilpur
2                ahmadupr east
3                       yazman
4                   bahawalpur
5                 bahawalnagar
6                    chishtian
7                   fort abbas
8                   haroonabad
9                  minchinabad
10                muzaffargarh
11                      taunsa
12                    rajanpur
13             dera ghazi khan
14                      jampur
15                 mian channu
16                    khanewal
17                    jahanian
18                   kabirwala
19                      layyah
20              karor lal esan
21                    chaubara
22                kahror pacca
23                     lodhran
24                    dunyapur
25                     shuabad
26               multan saddar
27            jalalpur pirwala
28                 multan city
29                       jatoi
30                      alipur
31                    kot addu
32    khanpur (rahim yar khan)
33                  liaquatpur
34              rahim yar khan
35                   sadiqabad
36                      rojhan
37                      mailsi
38                    burewala
39                      vehari
Name: Tehsil, dtype: object